In [108]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score,classification_report
from sklearn.linear_model import LogisticRegression

In [109]:
employee_data = pd.read_csv("output.csv")

In [110]:
employee_data

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [112]:
new_employee_data= pd.get_dummies(employee_data,columns=["Department","BusinessTravel","EducationField","Gender"],drop_first=True)

In [113]:
new_employee_data

,Age,Attrition,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,...,YearsWithCurrManager,Department_Research & Development,Department_Sales,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,EducationField_Life Sciences,EducationField_Marketing,EducationField_Medical,EducationField_Other,EducationField_Technical Degree
0,41,Yes,1102,1,2,1,1,2,Female,94,...,5,0,1,0,1,1,0,0,0,0
1,49,No,279,8,1,1,2,3,Male,61,...,7,1,0,1,0,1,0,0,0,0
2,37,Yes,1373,2,2,1,4,4,Male,92,...,0,1,0,0,1,0,0,0,1,0
3,33,No,1392,3,4,1,5,4,Female,56,...,0,1,0,1,0,1,0,0,0,0
4,27,No,591,2,1,1,7,1,Male,40,...,2,1,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,884,23,2,1,2061,3,Male,41,...,3,1,0,1,0,0,0,1,0,0
1466,39,No,613,6,1,1,2062,4,Male,42,...,7,1,0,0,1,0,0,1,0,0
1467,27,No,155,4,3,1,2064,2,Male,87,...,3,1,0,0,1,1,0,0,0,0
1468,49,No,1023,2,3,1,2065,4,Male,63,...,8,0,1,1,0,0,0,1,0,0
1469,34,No,628,8,3,1,2068,2,Male,82,...,2,1,0,0,1,0,0,1,0,0

In [114]:
X = new_employee_data.drop(columns=["Attrition"])
y = new_employee_data["Attrition"]

In [115]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [116]:
classifier = LogisticRegression(random_state=42)

In [97]:
classifier.fit(X_train, y_train)

ValueError: could not convert string to float: 'Travel_Rarely'